.container{
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 5rem;
    padding: 2rem;
    width: 25rem;
}
.campo{
    width: 20rem;
}
form{
    width: 40rem;
}
.btn{
    width: 20rem;
}
.heading-1{
    font-size: 25px;
    margin-bottom: 20px;
}